body {
    margin: 0;
    padding: 0;
    background: #9C835F;
}
.link {
    display: flex;
    padding: 3rem;
    cursor: pointer;
    
}
.link img {
    padding: 0 4rem;
}
.link h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 8rem;
    padding: 7rem 2rem;
    line-height: 49px;
    text-align: center;
    color: #F9B23D;
}

.game {
    display: flex;
    justify-content: space-around;
}
.player {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10rem 0;
}
.player img {
    width: 50rem;
    height: 48rem;
    margin:  1rem 0;
    cursor: pointer;
    padding: 10rem;
}
.player h1 {
    text-align: center;
    font-size: 7rem;
    margin-top: -8rem;
    text-transform: uppercase;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.final {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 60rem;
}
.awal {
    position: absolute;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15rem;
    margin-top: 19rem;
    text-align: center;
    margin-left: -14rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BD0000;
}
.hasil {
    text-align: center;
    position: absolute;
    width: 60rem;
    height: 34rem;
    padding: 8rem;
    margin: 4rem -30rem;
    border-radius: 2rem;
    transform: rotate(-28.87deg);
}
.draw {
    background-color: green;
}
.win {
    background: #4C9654;
}
.hasil h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    line-height: 10rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.none {
    display: none;
}
.computer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10rem 0;
}
.computer img {
    width: 50rem;
    height: 48rem;
    cursor: pointer;
    padding: 10rem;
    margin:  1rem 0;
}
.computer h1 {
    text-align: center;
    font-size: 7rem;
    margin-top: -8rem;
    text-transform: uppercase;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.refresh {
    display: flex;
    justify-content: center;
    align-items: center;
}
.refresh img {
    width: 20rem;
    height: 18rem;
    cursor: pointer;
    margin-top: -10rem;
    position: absolute;
}
.active {
    background: #C4C4C4;
    border-radius: 30px;
}